<h1>Listing reportes</h1>

<table>
  <thead>
    <tr>
      <th>Nombreajustador</th>
      <th>Numeropoliza</th>
      <th>Fechaexpedicion</th>
      <th>Nombreasegurado</th>
      <th>Telefonoasegurado</th>
      <th>Estatuscobranza</th>
      <th>Equipoamparado</th>
      <th>Comentarioequipoamparado</th>
      <th>Numerosiniestro</th>
      <th>Numeroinciso</th>
      <th>Fechasiniestro</th>
      <th>Terceroasegurado</th>
      <th>Condicionesespeciales</th>
      <th>Nombretercero</th>
      <th>Inventario</th>
      <th>Numeroeconomico</th>
      <th>Siniestro</th>
      <th>Grua</th>
      <th>Valorcomercial</th>
      <th>Sigueauto</th>
      <th>Deducible</th>
      <th>Deduciblevalor</th>
      <th>Aseguradotercero</th>
      <th>Marca</th>
      <th>Tipo</th>
      <th>Modelo</th>
      <th>Numeropuertas</th>
      <th>Color</th>
      <th>Numeroserie</th>
      <th>Numeromotor</th>
      <th>Placas</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reportes.each do |reporte| %>
      <tr>
        <td><%= reporte.nombreAjustador %></td>
        <td><%= reporte.numeroPoliza %></td>
        <td><%= reporte.fechaExpedicion %></td>
        <td><%= reporte.nombreAsegurado %></td>
        <td><%= reporte.telefonoAsegurado %></td>
        <td><%= reporte.estatusCobranza %></td>
        <td><%= reporte.equipoAmparado %></td>
        <td><%= reporte.comentarioEquipoAmparado %></td>
        <td><%= reporte.numeroSiniestro %></td>
        <td><%= reporte.numeroInciso %></td>
        <td><%= reporte.fechaSiniestro %></td>
        <td><%= reporte.terceroAsegurado %></td>
        <td><%= reporte.condicionesEspeciales %></td>
        <td><%= reporte.nombreTercero %></td>
        <td><%= reporte.inventario %></td>
        <td><%= reporte.numeroEconomico %></td>
        <td><%= reporte.siniestro %></td>
        <td><%= reporte.grua %></td>
        <td><%= reporte.valorComercial %></td>
        <td><%= reporte.sigueAuto %></td>
        <td><%= reporte.deducible %></td>
        <td><%= reporte.deducibleValor %></td>
        <td><%= reporte.aseguradoTercero %></td>
        <td><%= reporte.marca %></td>
        <td><%= reporte.tipo %></td>
        <td><%= reporte.modelo %></td>
        <td><%= reporte.numeroPuertas %></td>
        <td><%= reporte.color %></td>
        <td><%= reporte.numeroSerie %></td>
        <td><%= reporte.numeroMotor %></td>
        <td><%= reporte.placas %></td>
        <td><%= link_to 'Show', reporte %></td>
        <td><%= link_to 'Edit', edit_reporte_path(reporte) %></td>
        <td><%= link_to 'Destroy', reporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reporte', new_reporte_path %>
