<p id="notice"><%= notice %></p>

<p>
  <strong>Nombreajustador:</strong>
  <%= @reporte.nombreAjustador %>
</p>

<p>
  <strong>Numeropoliza:</strong>
  <%= @reporte.numeroPoliza %>
</p>

<p>
  <strong>Fechaexpedicion:</strong>
  <%= @reporte.fechaExpedicion %>
</p>

<p>
  <strong>Nombreasegurado:</strong>
  <%= @reporte.nombreAsegurado %>
</p>

<p>
  <strong>Telefonoasegurado:</strong>
  <%= @reporte.telefonoAsegurado %>
</p>

<p>
  <strong>Estatuscobranza:</strong>
  <%= @reporte.estatusCobranza %>
</p>

<p>
  <strong>Equipoamparado:</strong>
  <%= @reporte.equipoAmparado %>
</p>

<p>
  <strong>Comentarioequipoamparado:</strong>
  <%= @reporte.comentarioEquipoAmparado %>
</p>

<p>
  <strong>Numerosiniestro:</strong>
  <%= @reporte.numeroSiniestro %>
</p>

<p>
  <strong>Numeroinciso:</strong>
  <%= @reporte.numeroInciso %>
</p>

<p>
  <strong>Fechasiniestro:</strong>
  <%= @reporte.fechaSiniestro %>
</p>

<p>
  <strong>Terceroasegurado:</strong>
  <%= @reporte.terceroAsegurado %>
</p>

<p>
  <strong>Condicionesespeciales:</strong>
  <%= @reporte.condicionesEspeciales %>
</p>

<p>
  <strong>Nombretercero:</strong>
  <%= @reporte.nombreTercero %>
</p>

<p>
  <strong>Inventario:</strong>
  <%= @reporte.inventario %>
</p>

<p>
  <strong>Numeroeconomico:</strong>
  <%= @reporte.numeroEconomico %>
</p>

<p>
  <strong>Siniestro:</strong>
  <%= @reporte.siniestro %>
</p>

<p>
  <strong>Grua:</strong>
  <%= @reporte.grua %>
</p>

<p>
  <strong>Valorcomercial:</strong>
  <%= @reporte.valorComercial %>
</p>

<p>
  <strong>Sigueauto:</strong>
  <%= @reporte.sigueAuto %>
</p>

<p>
  <strong>Deducible:</strong>
  <%= @reporte.deducible %>
</p>

<p>
  <strong>Deduciblevalor:</strong>
  <%= @reporte.deducibleValor %>
</p>

<p>
  <strong>Aseguradotercero:</strong>
  <%= @reporte.aseguradoTercero %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @reporte.marca %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @reporte.tipo %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @reporte.modelo %>
</p>

<p>
  <strong>Numeropuertas:</strong>
  <%= @reporte.numeroPuertas %>
</p>

<p>
  <strong>Color:</strong>
  <%= @reporte.color %>
</p>

<p>
  <strong>Numeroserie:</strong>
  <%= @reporte.numeroSerie %>
</p>

<p>
  <strong>Numeromotor:</strong>
  <%= @reporte.numeroMotor %>
</p>

<p>
  <strong>Placas:</strong>
  <%= @reporte.placas %>
</p>

<%= link_to 'Edit', edit_reporte_path(@reporte) %> |
<%= link_to 'Back', reportes_path %>
