<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :companiaSeguros %><br>
    <%= f.text_field :companiaSeguros %>
  </div>
  <div class="field">
    <%= f.label :noSiniestro %><br>
    <%= f.text_field :noSiniestro %>
  </div>
  <div class="field">
    <%= f.label :noPoliza %><br>
    <%= f.text_field :noPoliza %>
  </div>
  <div class="field">
    <%= f.label :noInciso %><br>
    <%= f.text_field :noInciso %>
  </div>
  <div class="field">
    <%= f.label :noSerie %><br>
    <%= f.text_field :noSerie %>
  </div>
  <div class="field">
    <%= f.label :fechaSiniestro %><br>
    <%= f.date_select :fechaSiniestro %>
  </div>
  <div class="field">
    <%= f.label :nombreAsegurado %><br>
    <%= f.text_field :nombreAsegurado %>
  </div>
  <div class="field">
    <%= f.label :numeroTelefono %><br>
    <%= f.text_field :numeroTelefono %>
  </div>
  <div class="field">
    <%= f.label :emailAsegurado %><br>
    <%= f.text_field :emailAsegurado %>
  </div>
  <div class="field">
    <%= f.label :horarioContacto %><br>
    <%= f.text_field :horarioContacto %>
  </div>
  <div class="field">
    <%= f.label :porcentajeDeducible %><br>
    <%= f.text_field :porcentajeDeducible %>
  </div>
  <div class="field">
    <%= f.label :valorComercial %><br>
    <%= f.text_field :valorComercial %>
  </div>
  <div class="field">
    <%= f.label :montoDeducible %><br>
    <%= f.text_field :montoDeducible %>
  </div>
  <div class="field">
    <%= f.label :estatusCobranza %><br>
    <%= f.text_field :estatusCobranza %>
  </div>
  <div class="field">
    <%= f.label :marcaVehiculo %><br>
    <%= f.text_field :marcaVehiculo %>
  </div>
  <div class="field">
    <%= f.label :modeloVehiculo %><br>
    <%= f.text_field :modeloVehiculo %>
  </div>
  <div class="field">
    <%= f.label :colorVehiculo %><br>
    <%= f.text_field :colorVehiculo %>
  </div>
  <div class="field">
    <%= f.label :tipoVehiculo %><br>
    <%= f.text_field :tipoVehiculo %>
  </div>
  <div class="field">
    <%= f.label :anoVehiculo %><br>
    <%= f.text_field :anoVehiculo %>
  </div>
  <div class="field">
    <%= f.label :placasVehiculo %><br>
    <%= f.text_field :placasVehiculo %>
  </div>
  <div class="field">
    <%= f.label :agenteAjustador %><br>
    <%= f.text_field :agenteAjustador %>
  </div>
  <div class="field">
    <%= f.label :terceroAsegurado %><br>
    <%= f.text_field :terceroAsegurado %>
  </div>
  <div class="field">
    <%= f.label :condicionesEspeciales %><br>
    <%= f.text_field :condicionesEspeciales %>
  </div>
  <div class="field">
    <%= f.label :nombreTerceroAfectado %><br>
    <%= f.text_field :nombreTerceroAfectado %>
  </div>
  <div class="field">
    <%= f.label :noMotor %><br>
    <%= f.text_field :noMotor %>
  </div>
  <div class="field">
    <%= f.label :siniestro %><br>
    <%= f.text_field :siniestro %>
  </div>
  <div class="field">
    <%= f.label :equipoEspecialAmparado %><br>
    <%= f.text_field :equipoEspecialAmparado %>
  </div>
  <div class="field">
    <%= f.label :comentarioSecundario %><br>
    <%= f.text_field :comentarioSecundario %>
  </div>
  <div class="field">
    <%= f.label :requiereGrua %><br>
    <%= f.text_field :requiereGrua %>
  </div>
  <div class="field">
    <%= f.label :sigueAuto %><br>
    <%= f.text_field :sigueAuto %>
  </div>
  <div class="field">
    <%= f.label :terceroAsegurado %><br>
    <%= f.text_field :terceroAsegurado %>
  </div>
  <div class="field">
    <%= f.label :foto1 %><br>
    <%= f.text_field :foto1 %>
  </div>
  <div class="field">
    <%= f.label :foto2 %><br>
    <%= f.text_field :foto2 %>
  </div>
  <div class="field">
    <%= f.label :foto3 %><br>
    <%= f.text_field :foto3 %>
  </div>
  <div class="field">
    <%= f.label :comentarioGeneral %><br>
    <%= f.text_area :comentarioGeneral %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
