<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  				<div class="col-xs-2">
					<label style="padding-left: 2px;">Nombre del Ajustador</label>
    <%= f.text_field :nombreAjustador %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">No. Poliza</label>
    <%= f.text_field :numeroPoliza %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Fecha de Expedicion</label>
    <%= f.date_select :fechaExpedicion %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Nombre del Asegurado</label>
    <%= f.text_field :nombreAsegurado %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Telefono del Asegurado</label>
    <%= f.text_field :telefonoAsegurado %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Estatus de la Cobranza</label>
    <%= f.check_box :estatusCobranza %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Equipo Especial Amparado</label>
    <%= f.check_box :equipoAmparado %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Comentario Equipo Especial Amparado</label>
    <%= f.text_area :comentarioEquipoAmparado %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">No. del Siniestro</label>
    <%= f.text_field :numeroSiniestro %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">No. de Inciso</label>
    <%= f.text_field :numeroInciso %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Fecha del Siniestro</label>
    <%= f.date_select :fechaSiniestro %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Tercero Asegurado</label>
    <%= f.check_box :terceroAsegurado %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Condiciones Especiales</label>
    <%= f.text_area :condicionesEspeciales %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Nombre del Tercero</label>
    <%= f.text_field :nombreTercero %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Inventario</label>
    <%= f.text_area :inventario %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Numero Economico</label>
    <%= f.text_field :numeroEconomico %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Siniestro</label>
    <%= f.text_area :siniestro %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Grua</label>
    <%= f.check_box :grua %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Valor Comercial</label>
    <%= f.text_field :valorComercial %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Sigue con Auto</label>
    <%= f.check_box :sigueAuto %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Deducible</label>
    <%= f.check_box :deducible %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Valor del Deducible</label>
    <%= f.text_field :deducibleValor %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Tercero Asegurado</label>
    <%= f.text_field :aseguradoTercero %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Marca</label>
    <%= f.text_field :marca %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Tipo</label>
    <%= f.text_field :tipo %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Modelo</label>
    <%= f.text_field :modelo %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">No. Puertas</label>
    <%= f.number_field :numeroPuertas %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Color</label>
    <%= f.text_field :color %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">No. Serie</label>
    <%= f.text_field :numeroSerie %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">No. Motor</label>
    <%= f.text_field :numeroMotor %>
  </div>
  				<div class="col-xs-2">
<label style="padding-left: 2px;">Placas</label>
    <%= f.text_field :placas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
