<h1>Reportes</h1>

<table>
  <thead>
    <tr>
      <td>Número de Siniestro</td>
      <td>Compañia</td>
      <td>Asegurado</td>
      <td>Marca</td>
      <td>Modelo</td>
      <td>Color</td>
      <td>Año</td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>


        <td><%= report.noSiniestro %></td>
        <td><%= report.companiaSeguros %></td>
        <td><%= report.nombreAsegurado %></td>
        <td><%= report.marcaVehiculo %></td>
        <td><%= report.modeloVehiculo %></td>
        <td><%= report.colorVehiculo %></td>
        <td><%= report.anoVehiculo %></td>


        <td><%= link_to 'Ver', report %></td>
        <td><%= link_to 'Editar', edit_report_path(report) %></td>
        <td><%= link_to 'Eliminar', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Reporte', new_report_path %>
