<p id="notice"><%= notice %></p>

<p>
  <strong>Companiaseguros:</strong>
  <%= @report.companiaSeguros %>
</p>

<p>
  <strong>Nosiniestro:</strong>
  <%= @report.noSiniestro %>
</p>

<p>
  <strong>Nopoliza:</strong>
  <%= @report.noPoliza %>
</p>

<p>
  <strong>Noinciso:</strong>
  <%= @report.noInciso %>
</p>

<p>
  <strong>Noserie:</strong>
  <%= @report.noSerie %>
</p>

<p>
  <strong>Fechasiniestro:</strong>
  <%= @report.fechaSiniestro %>
</p>

<p>
  <strong>Nombreasegurado:</strong>
  <%= @report.nombreAsegurado %>
</p>

<p>
  <strong>Numerotelefono:</strong>
  <%= @report.numeroTelefono %>
</p>

<p>
  <strong>Emailasegurado:</strong>
  <%= @report.emailAsegurado %>
</p>

<p>
  <strong>Horariocontacto:</strong>
  <%= @report.horarioContacto %>
</p>

<p>
  <strong>Porcentajededucible:</strong>
  <%= @report.porcentajeDeducible %>
</p>

<p>
  <strong>Valorcomercial:</strong>
  <%= @report.valorComercial %>
</p>

<p>
  <strong>Montodeducible:</strong>
  <%= @report.montoDeducible %>
</p>

<p>
  <strong>Estatuscobranza:</strong>
  <%= @report.estatusCobranza %>
</p>

<p>
  <strong>Marcavehiculo:</strong>
  <%= @report.marcaVehiculo %>
</p>

<p>
  <strong>Modelovehiculo:</strong>
  <%= @report.modeloVehiculo %>
</p>

<p>
  <strong>Colorvehiculo:</strong>
  <%= @report.colorVehiculo %>
</p>

<p>
  <strong>Tipovehiculo:</strong>
  <%= @report.tipoVehiculo %>
</p>

<p>
  <strong>Anovehiculo:</strong>
  <%= @report.anoVehiculo %>
</p>

<p>
  <strong>Placasvehiculo:</strong>
  <%= @report.placasVehiculo %>
</p>

<p>
  <strong>Agenteajustador:</strong>
  <%= @report.agenteAjustador %>
</p>

<p>
  <strong>Terceroasegurado:</strong>
  <%= @report.terceroAsegurado %>
</p>

<p>
  <strong>Condicionesespeciales:</strong>
  <%= @report.condicionesEspeciales %>
</p>

<p>
  <strong>Nombreterceroafectado:</strong>
  <%= @report.nombreTerceroAfectado %>
</p>

<p>
  <strong>Nomotor:</strong>
  <%= @report.noMotor %>
</p>

<p>
  <strong>Siniestro:</strong>
  <%= @report.siniestro %>
</p>

<p>
  <strong>Equipoespecialamparado:</strong>
  <%= @report.equipoEspecialAmparado %>
</p>

<p>
  <strong>Comentariosecundario:</strong>
  <%= @report.comentarioSecundario %>
</p>

<p>
  <strong>Requieregrua:</strong>
  <%= @report.requiereGrua %>
</p>

<p>
  <strong>Sigueauto:</strong>
  <%= @report.sigueAuto %>
</p>

<p>
  <strong>Terceroasegurado:</strong>
  <%= @report.terceroAsegurado %>
</p>

<p>
  <strong>Foto1:</strong>
  <%= @report.foto1 %>
</p>

<p>
  <strong>Foto2:</strong>
  <%= @report.foto2 %>
</p>

<p>
  <strong>Foto3:</strong>
  <%= @report.foto3 %>
</p>

<p>
  <strong>Comentariogeneral:</strong>
  <%= @report.comentarioGeneral %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
