<p id="notice"><%= notice %></p>

<p>
  <strong>Nombreajustador:</strong>
  <%= @report.nombreAjustador %>
</p>

<p>
  <strong>Numeropoliza:</strong>
  <%= @report.numeroPoliza %>
</p>

<p>
  <strong>Fechaexpedicion:</strong>
  <%= @report.fechaExpedicion %>
</p>

<p>
  <strong>Nombreasegurado:</strong>
  <%= @report.nombreAsegurado %>
</p>

<p>
  <strong>Telefonoasegurado:</strong>
  <%= @report.telefonoAsegurado %>
</p>

<p>
  <strong>Estatuscobranza:</strong>
  <%= @report.estatusCobranza %>
</p>

<p>
  <strong>Equipoamparado:</strong>
  <%= @report.equipoAmparado %>
</p>

<p>
  <strong>Comentarioequipoamparado:</strong>
  <%= @report.comentarioEquipoAmparado %>
</p>

<p>
  <strong>Numerosiniestro:</strong>
  <%= @report.numeroSiniestro %>
</p>

<p>
  <strong>Numeroinciso:</strong>
  <%= @report.numeroInciso %>
</p>

<p>
  <strong>Fechasiniestro:</strong>
  <%= @report.fechaSiniestro %>
</p>

<p>
  <strong>Terceroasegurado:</strong>
  <%= @report.terceroAsegurado %>
</p>

<p>
  <strong>Condicionesespeciales:</strong>
  <%= @report.condicionesEspeciales %>
</p>

<p>
  <strong>Nombretercero:</strong>
  <%= @report.nombreTercero %>
</p>

<p>
  <strong>Inventario:</strong>
  <%= @report.inventario %>
</p>

<p>
  <strong>Numeroeconomico:</strong>
  <%= @report.numeroEconomico %>
</p>

<p>
  <strong>Siniestro:</strong>
  <%= @report.siniestro %>
</p>

<p>
  <strong>Grua:</strong>
  <%= @report.grua %>
</p>

<p>
  <strong>Valorcomercial:</strong>
  <%= @report.valorComercial %>
</p>

<p>
  <strong>Sigueauto:</strong>
  <%= @report.sigueAuto %>
</p>

<p>
  <strong>Deducible:</strong>
  <%= @report.deducible %>
</p>

<p>
  <strong>Deduciblevalor:</strong>
  <%= @report.deducibleValor %>
</p>

<p>
  <strong>Aseguradotercero:</strong>
  <%= @report.aseguradoTercero %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @report.marca %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @report.tipo %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @report.modelo %>
</p>

<p>
  <strong>Numeropuertas:</strong>
  <%= @report.numeroPuertas %>
</p>

<p>
  <strong>Color:</strong>
  <%= @report.color %>
</p>

<p>
  <strong>Numeroserie:</strong>
  <%= @report.numeroSerie %>
</p>

<p>
  <strong>Numeromotor:</strong>
  <%= @report.numeroMotor %>
</p>

<p>
  <strong>Placas:</strong>
  <%= @report.placas %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
